[project]
	description = Scrape an atom feed into a POEM database
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tim Pizey (timp21337)
[access "refs/for/refs/*"]
	read = group user/Tim Pizey (timp21337)
	push = group user/Tim Pizey (timp21337)
	label-Code-Review = -2..+2 group user/Tim Pizey (timp21337)
	label-Verified = -1..+1 group user/Tim Pizey (timp21337)
	rebase = group user/Tim Pizey (timp21337)
	removeReviewer = group user/Tim Pizey (timp21337)
	submit = group user/Tim Pizey (timp21337)
[access "refs/heads/*"]
	read = group user/Tim Pizey (timp21337)
	create = group user/Tim Pizey (timp21337)
	push = +force group user/Tim Pizey (timp21337)
	pushMerge = group user/Tim Pizey (timp21337)
[access "refs/tags/*"]
	push = +force group user/Tim Pizey (timp21337)
	pushTag = group user/Tim Pizey (timp21337)
	pushSignedTag = group user/Tim Pizey (timp21337)
